In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing as per
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer

In [42]:
df = pd.read_csv('heart.csv')

df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [43]:
# columns= ["age","sex","cp","trtbps","chol","fbs","restecg","thalachh","exng","oldpeak","slp","caa","thall","output"]

# #fig.a_x = plt.subplots(len (X, columns),figsize=(5,35))


# for col_name in df.columns:
#     plt.figure()
#     plt.hist(df[col_name])
#     plt.title(columns.name)

In [44]:
scaler = per.MinMaxScaler(feature_range =(0,1))

rescaleData = scaler.fit_transform(df)

rescaleData = pd.DataFrame(rescaleData , index=df.index , columns = df.columns)

print(rescaleData)

          age  sex        cp    trtbps      chol  fbs  restecg  thalachh  \
0    0.708333  1.0  1.000000  0.481132  0.244292  1.0      0.0  0.603053
1    0.166667  1.0  0.666667  0.339623  0.283105  0.0      0.5  0.885496
2    0.250000  0.0  0.333333  0.339623  0.178082  0.0      0.0  0.770992
3    0.562500  1.0  0.333333  0.245283  0.251142  0.0      0.5  0.816794
4    0.583333  0.0  0.000000  0.245283  0.520548  0.0      0.5  0.702290
..        ...  ...       ...       ...       ...  ...      ...       ...
298  0.583333  0.0  0.000000  0.433962  0.262557  0.0      0.5  0.396947
299  0.333333  1.0  1.000000  0.150943  0.315068  0.0      0.5  0.465649
300  0.812500  1.0  0.000000  0.471698  0.152968  1.0      0.5  0.534351
301  0.583333  1.0  0.000000  0.339623  0.011416  0.0      0.5  0.335878
302  0.583333  0.0  0.333333  0.339623  0.251142  0.0      0.0  0.786260

     exng   oldpeak  slp   caa     thall  output
0     0.0  0.370968  0.0  0.00  0.333333     1.0
1     0.0  0.564516  0.0  0.00  0.666667     1.0
2     0.0  0.225806  1.0  0.00  0.666667     1.0
3     0.0  0.129032  1.0  0.00  0.666667     1.0
4     1.0  0.096774  1.0  0.00  0.666667     1.0
..    ...       ...  ...   ...       ...     ...
298   1.0  0.032258  0.5  0.00  1.000000     0.0
299   0.0  0.193548  0.5  0.00  1.000000     0.0
300   0.0  0.548387  0.5  0.50  1.000000     0.0
301   1.0  0.193548  0.5  0.25  1.000000     0.0
302   0.0  0.000000  0.5  0.25  0.666667     0.0

[303 rows x 14 columns]

In [45]:
scaler = StandardScaler().fit(df)
standardizedData = scaler.transform(df)
standardizedData= pd.DataFrame(standardizedData, index =df.index,columns=df.columns)

print(standardizedData)

          age       sex        cp    trtbps      chol       fbs   restecg  \
0    0.952197  0.681005  1.973123  0.763956 -0.256334  2.394438 -1.005832
1   -1.915313  0.681005  1.002577 -0.092738  0.072199 -0.417635  0.898962
2   -1.474158 -1.468418  0.032031 -0.092738 -0.816773 -0.417635 -1.005832
3    0.180175  0.681005  0.032031 -0.663867 -0.198357 -0.417635  0.898962
4    0.290464 -1.468418 -0.938515 -0.663867  2.082050 -0.417635  0.898962
..        ...       ...       ...       ...       ...       ...       ...
298  0.290464 -1.468418 -0.938515  0.478391 -0.101730 -0.417635  0.898962
299 -1.033002  0.681005  1.973123 -1.234996  0.342756 -0.417635  0.898962
300  1.503641  0.681005 -0.938515  0.706843 -1.029353  2.394438  0.898962
301  0.290464  0.681005 -0.938515 -0.092738 -2.227533 -0.417635  0.898962
302  0.290464 -1.468418  0.032031 -0.092738 -0.198357 -0.417635 -1.005832

     thalachh      exng   oldpeak       slp       caa     thall    output
0    0.015443 -0.696631  1.087338 -2.274579 -0.714429 -2.148873  0.914529
1    1.633471 -0.696631  2.122573 -2.274579 -0.714429 -0.512922  0.914529
2    0.977514 -0.696631  0.310912  0.976352 -0.714429 -0.512922  0.914529
3    1.239897 -0.696631 -0.206705  0.976352 -0.714429 -0.512922  0.914529
4    0.583939  1.435481 -0.379244  0.976352 -0.714429 -0.512922  0.914529
..        ...       ...       ...       ...       ...       ...       ...
298 -1.165281  1.435481 -0.724323 -0.649113 -0.714429  1.123029 -1.093459
299 -0.771706 -0.696631  0.138373 -0.649113 -0.714429  1.123029 -1.093459
300 -0.378132 -0.696631  2.036303 -0.649113  1.244593  1.123029 -1.093459
301 -1.515125  1.435481  0.138373 -0.649113  0.265082  1.123029 -1.093459
302  1.064975 -0.696631 -0.896862 -0.649113  0.265082 -0.512922 -1.093459

[303 rows x 14 columns]

In [46]:
scaler = Normalizer().fit(df)
NormalizerData = scaler.transform(df)
NormalizerData= pd.DataFrame(NormalizerData, index =df.index,columns=df.columns)

print(NormalizerData)

          age       sex        cp    trtbps      chol       fbs   restecg  \
0    0.197453  0.003134  0.009403  0.454455  0.730263  0.003134  0.000000
1    0.108748  0.002939  0.005878  0.382087  0.734782  0.000000  0.002939
2    0.136824  0.000000  0.003337  0.433833  0.680784  0.000000  0.000000
3    0.172879  0.003087  0.003087  0.370454  0.728559  0.000000  0.003087
4    0.138431  0.000000  0.000000  0.291433  0.859726  0.000000  0.002429
..        ...       ...       ...       ...       ...       ...       ...
298  0.183899  0.000000  0.000000  0.451681  0.777537  0.000000  0.003226
299  0.141409  0.003142  0.009427  0.345667  0.829601  0.000000  0.003142
300  0.236719  0.003481  0.000000  0.501287  0.671864  0.003481  0.003481
301  0.253520  0.004448  0.000000  0.578204  0.582651  0.000000  0.004448
302  0.174968  0.000000  0.003070  0.399051  0.724431  0.000000  0.000000

     thalachh      exng   oldpeak       slp       caa     thall    output
0    0.470126  0.000000  0.007209  0.000000  0.000000  0.003134  0.003134
1    0.549617  0.000000  0.010287  0.000000  0.000000  0.005878  0.002939
2    0.573994  0.000000  0.004672  0.006674  0.000000  0.006674  0.003337
3    0.549507  0.000000  0.002470  0.006174  0.000000  0.006174  0.003087
4    0.395863  0.002429  0.001457  0.004857  0.000000  0.004857  0.002429
..        ...       ...       ...       ...       ...       ...       ...
298  0.396834  0.003226  0.000645  0.003226  0.000000  0.009679  0.000000
299  0.414800  0.000000  0.003771  0.003142  0.000000  0.009427  0.000000
300  0.490844  0.000000  0.011836  0.003481  0.006962  0.010443  0.000000
301  0.511488  0.004448  0.005337  0.004448  0.004448  0.013343  0.000000
302  0.534114  0.000000  0.000000  0.003070  0.003070  0.006139  0.000000

[303 rows x 14 columns]

In [48]:
from sklearn.decomposition import PCA

In [50]:
#pca = PCA(n_components=2)

In [54]:
pca = PCA(0.95)

In [55]:
pca.fit(standardizedData)

PCA(n_components=0.95)

In [56]:
x_pca = pca.transform(standardizedData)

In [57]:
standardizedData.shape

(303, 14)

In [58]:
pca.explained_variance_ration

AttributeError: 'PCA' object has no attribute 'explained_variance_ration'