In [6]:
def add_two_num(a,b):
    return a+b

total= add_two_num(4,5)
print(total)

9

In [8]:
def add_two_num(a,b):
    return a+b
print(add_two_num(5,4))

9

In [11]:
def add_two(num1,num2):
    return num1+num2

num1 = int(input("enter first num:"))   # num2 , num1 er place e onno variable o possible.
num2 = int(input("enter second num:"))

total = add_two(num1,num2)

print(total)

enter first num:5
enter second num:5
10

In [25]:
def add_two(first_name,last_name) :
    return first_name  + last_name

first_name = input("enter first name:  ")   # num2 , num1 er place e onno variable o possible.
last_name = input("enter second name:")

total = add_two(first_name ,last_name)

print(total)

enter first name:  ghj
enter second name:ghjk
ghjghjk

# Print vs Return

In [26]:
# print value print kore
# return value store kore.

def add_num(a,b,c):
    return (a+b+c)
add_num(5,5,5)

15

In [27]:
def add_num(a,b,c):
    print (a+b+c)    # its working but this is not way to write code
add_num(5,5,5)

15

In [28]:
def last_char(name):
    return name[-1]

user = input("Enter your name :")
print(last_char(user))

Enter your name :Shuvo
o

In [36]:
def odd_even(num):
    if num%2 == 0:
        return "even"
    else:
        return "odd"
    
print(odd_even(2))

odd

In [37]:
# Another way

def odd_even(num):
    if num%2 == 0:
        return "even"
    
    return "odd"
    
print(odd_even(2))

even

In [38]:
def Is_even(num):       # num =peramiter
    if num%2 == 0:
        return True
    else:
        return False
    
print(Is_even(2))     # 2 = Argument

True

In [39]:
def n():
    return "dekhi ki hoy"

print(n())

dekhi ki hoy

In [40]:
def greatter(num1,num2):
    if num1 < num2:
        return "num2 is gratter"
    else:
        return "num1 is gratter"
    
print(greatter(5,7))

num2 is gratter

In [45]:
def greater(num1,num2):
    if num1 < num2:
        return "num2 is greater"
    else:
        return "num1 is greater"
num1 = int(input("enter first num1:"))
num2 = int(input("enter second num2 :"))
    
print(greater(num1,num2))

# print(f"{greater(num1,num2)}is greater.")

enter first num1:7
enter second num2 :1
num1 is greater

In [48]:
def greatest(num1,num2,num3):
    if num1 > num2:
        return "num1 is greatest"
    elif num2 > num3:
        return "num2 is greatest"
    else:
        return "num3 is greatest"
num1 = int(input("enter first num1:"))
num2 = int(input("enter second num2 :"))
num3 = int(input("enter second num3 :"))
    
print(greatest(num1,num2,num3))

enter first num1:3
enter second num2 :2
enter second num3 :1
num1 is greatest

# Function inside function

In [52]:
# def new_greatest(a,b,c):
#     bigger = greater(a,b)
#     return greater(bigger, c)
   
# a = int(input("enter first a:"))
# b = int(input("enter second b :"))
# c = int(input("enter second c :"))
    
# print(new_greatest(a,b,c))

In [54]:
# palendrom Function = level

def is_palendrom(word):
    reverse_word = word[::-1]
    if word == reverse_word:
        return "ya its palendrom"
    
    else:
        return " No its not palendrom"
    
word = input(" Write a word:")

print(is_palendrom(word))

 Write a word:level
ya its palendrom

In [55]:
def is_palindrom(word):
    return word == word[::-1]

print(is_palindrom("naman"))
print(is_palindrom("horse"))

True
False

In [57]:
# fibonacci Series - 0 1 1 2 3 5 8 13 21 34

def fib_seq (n):
    a = 0
    b = 1
    if n == 1:
        print(a)
    elif n == 2:
        print(a,b)
    else:
        print(a,b,end=" ")
        
        for i in range (n-2):
            c = a+b      # 0+1=1 , 1+1=2 , 1+2=3 , 2+3=5 ,
            a = b        # 1 , 1 , 2 , 3
            b = c        # 1 ,2 , 3 , 5
            print(b,end =" ") # 1 , 2 , 3 , 5 ,.....
fib_seq (10)

0 1 1 2 3 5 8 13 21 34

# Variable Scope

In [58]:
def func():
    x = 7
    return x

print(x)

# its not possible x=7 return x porjonto e sesh

NameError: name 'x' is not defined

In [59]:
x = 5 

def func():
    x = 7
    return x

print(func())
print(x)

7
5

In [60]:
# x er value change 5 to 7

x = 5 

def func():
    global x
    x = 7
    return x

print(func())
print(x)

7
7

In [61]:
x = 5 

def func():
    global x
    x = 7
    return x


print(x)
print(func())
print(x)

5
7
7